<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script type="text/javascript" src=" js/jquery-3.6.1.js"> </script>
  <link rel="shortcut icon" href="img/icon8.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>Blog</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}">
        <img src="img/logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/calculoimc}">Cálculo IMC</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Recetas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" th:href="@{/recetasbajarpeso}">Bajar de peso</a></li>
              <li><a class="dropdown-item" th:href="@{/recetassubirpeso}">Subir de peso</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/sobrenosotros}">Sobre nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/blog}">Blog</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" th:href="@{/contacto}" role="button" aria-expanded="false">
              Contacto
            </a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/login}">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/registro}">Registro</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <main>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">Blog</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card" id="mentira-frutos-secos">
            <div class="card-body">
              <h5 class="card-title text-center">La mentira de los frutos secos</h5>
              <div class="justify-content-center align-items-center text-center"><img class="img-fluid w-50"
                  src="img/frutos-secos-noticia.jpg" alt=""></div><br>
              <p class="card-text">
                Para muchos, los frutos secos son bombas calóricas a evitar, especialmente si el
                objetivo es adelgazar. Con más de 600 calorías por cada 100 gramos, y alto contenido en grasa, son una
                pesadilla nutricional para los que viven contando calorías y comprando productos light.<br><br>Hoy
                veremos si realmente engordan los frutos secos, cuáles son los mejores y cuántos debes comer.<br><br>Los
                frutos secos son un buen ejemplo del error que supone centrarse en exceso en el balance energético. Por
                supuesto que las calorías importan, pero importa más su origen.<br><br>Y según la evidencia científica,
                los frutos secos no se asocian con mayor peso:<br><br>-Consumir frutos secos más de tres veces a la
                semana reduce el riesgo de obesidad respecto a ingestas menores.<br><br>-En un estudio en más de 300.000
                individuos, aquellos que consumieron más frutos secos durante cinco años ganaron menos
                peso.<br><br>-Añadir frutos secos a las dietas no eleva el peso.<br><br>-Reemplazar snacks basados en
                harinas por frutos secos ayuda a perder peso.<br><br>¿A qué se debe esta paradoja calórica? Vimos en su
                momento algunos factores que explican por qué las mismas calorías tienen distinto efecto según el
                alimento, y los frutos secos destacan por varios de ellos:<br><br>-Alto poder saciante, gracias a su
                contenido en proteína, fibra y grasa.<br><br>-Mayor compensación. Los frutos secos te hacen comer menos
                en el resto de comidas, compensando hasta en un 65-75% las calorías ingeridas.<br><br>-Mayor adherencia
                a la dieta, al ser aceptados por nuestro cerebro como un alimento placentero.<br><br>-Baja absorción
                energética. Como detalla este estudio, la masticación aumenta la absorción, pero las calorías desechadas
                son elevadas en todos los casos. Este esfuerzo puede elevar además el metabolismo, aumentando el gasto
                calórico.<br><br>Por todo esto, añadir 300-350 calorías diarias de frutos secos no produce aumento de
                peso. Pero sus beneficios van mucho más allá de no engordar.<br><br>Beneficios de los Frutos
                Secos.<br><br>Los frutos secos son árboles en potencia, y contienen todos los nutrientes necesarios para
                su desarrollo, junto con una buena combinación de proteína, grasa y carbohidrato.<br><br>Comparten una
                composición nutricional similar, pero cada uno destaca por algo particular:<br><br>Las almendras son
                ricas en magnesio y fósforo. Como ocurre con las frutas, muchos polifenoles se concentran en la piel.
                Estos polifenoles previenen por ejemplo la oxidación del colesterol.<br><br>Las nueces tienen altas
                concentraciones de Omega 3 (ALA) y un poco de melatonina.<br><br>Los pistachos son especialmente ricos
                en potasio y vitamina K, además de aportar luteína, importante para la vista.<br><br>Las nueces de
                Brasil son una excelente fuente de selenio.<br><br>Todas son ricas en flavonoides, pero destacan las
                pecanas, macadamias, almendras y pistachos.<br><br>Es de esperar que esta riqueza nutricional se asocie
                con menor mortalidad, y es lo que refleja la ciencia.<br><br>Empecemos hablando del corazón, donde se
                centró inicialmente la atención:<br><br>-Mayor consumo de frutos secos se asocia a menor riesgo de
                enfermedad coronaria.<br><br>-Las nueces mejoran la función endotelial en pacientes con
                hipercolesterolemia.<br><br>Pero los frutos secos no solo benefician a tu corazón:<br><br>-Incluir
                frutos secos al menos dos veces a la semana se asocia con una reducción del 32% del riesgo de
                desarrollar síndrome metabólico y diabetes.<br><br>-Aumentan los niveles de antioxidantes en sangre y
                previenen la formación de células cancerígenas.<br><br>-Mayor consumo se asocia a menor riesgo de
                piedras en la vesícula.<br><br>-Parecen mejorar ligeramente la función cognitiva, en ratones y
                humanos.<br><br>-Las almendras y pistachos, especialmente al comer la piel, actúan de prebiótico,
                mejorando la diversidad de la microbiota.<br><br>Consejos para consumirlos.<br><br>En general, cuanto
                más cerca esté un alimento de su estado natural más beneficios aportará. Por tanto, los frutos secos
                enteros y sin procesar son la opción ideal. Maximizan la saciedad y minimizan la absorción
                calórica.<br><br>Si los compras con cáscara, todavía mejor, porque consumirás menos. En parte porque
                debes hacer más esfuerzo, pero también porque la acumulación de cáscaras actúa de recordatorio visual de
                cuántos has comido.<br><br>¿Qué cantidad sería recomendable? Según los estudios, 30-50 gramos diarios no
                producen aumento de peso y aportan todos los beneficios mencionados. Come los que prefieras, idealmente
                combinados. No olvides la piel en almendras, avellanas y pistachos.<br><br>Incluso tostados y con sal
                aportan beneficios, pero presentan algunos problemas:<br><br>-Aumento del contenido calórico. Al
                reducirse el agua, aumentan las calorías por gramo. Si los comes tostados, reduce un poco la
                porción.<br><br>-Riesgo de oxidación de las grasas poliinsaturadas y pérdida de
                antioxidantes.<br><br>Seguiríamos con las cremas o mantequillas. Nutricionalmente son menos
                recomendables, mostrando por ejemplo menor capacidad de reducción de triglicéridos, pero sobre todo
                aportan más calorías y producen menos saciedad. Las puedes incluir con moderación, pero el riesgo de
                comer de más es real. Si la compras, que sea 100% fruto seco, sin azúcar ni aditivos.<br><br>Por último,
                están de moda las harinas de almendra u otros frutos secos. No tienen gluten y son mucho más nutritivas
                que las harinas de cereales, pero las calorías absorbibles aumentan , especialmente con harinas muy
                finas.<br><br>Cuanto más fina la harina, más calorías se absorben. <br><br>Al elaborar la harina se
                pierden además antioxidantes. Si se hacen postres o galletas mezclando otros ingredientes, como
                mantequilla o endulzantes, la combinación será especialmente palatable, aumentando seguramente la
                ingesta total. <br><br>Recomiendo limitar las harinas a momentos puntuales.<br><br>Como siempre, el
                contexto importa. Si tu objetivo es aumentar la ingesta calórica para ganar volumen, tienes más libertad
                con cremas y harinas.<br><br>¿Posibles efectos negativos?<br><br>Cuando hablamos de frutos secos, suelen
                mencionarse dos aspectos potencialmente problemáticos: su bajo ratio Omega 3/Omega 6 y su elevado
                contenido en fitatos. Hagamos una revisión rápida de ambos.<br><br>Ambos ácidos grasos son esenciales y
                juegan su papel, pero la salud requiere un equilibrio adecuado.&nbsp; Evolucionamos con un ratio O3/O6
                de 1:1 a 1:3, mientras que actualmente estamos más cerca de 1:16. A medida que este ratio aumenta, la
                <br>salud empeora.<br><br>Pero como siempre, no importa solo el ratio de estos ácidos grasos, también su
                origen. El desequilibrio en nuestra dieta no se ha producido por un disparatado consumo de frutos secos,
                sino por el aumento de un alimento desconocido para nuestro genoma: los aceites vegetales de
                semillas.<br><br>Al contrario que aceites tradicionales, como de oliva o coco, los aceites de semillas
                requieren procesos industriales y se oxidan fácilmente, contribuyendo a la inflamación de bajo
                grado.<br><br>Además, un exceso de Omega 6 puede producir deficiencias de Omega 3, veamos por
                qué.<br><br>Los alimentos vegetales incluyen ácido linoleico (AL) como tipo principal de Omega 6 y ácido
                alfa-linoleico (ALA) como tipo de Omega 3. Pero estos ácidos grasos no son usables directamente por el
                cuerpo humano, quien debe convertirlos a su versión animal: ácido araquidónico (AA) a partir del AL y
                ácido eicosapentaenoico/ácido docosahexaenoico (EPA y DHA) a partir del ALA.<br><br>Estas conversiones
                son bajas en general (depende en parte de tu genética), y comparten además vías metabólicas, compitiendo
                por las mismas enzimas. Si se eleva el consumo de AL se podría reducir todavía más la conversión de ALA
                a EPA y DHA, aumentando la inflamación.<br><br>Pero hay dos aspectos importantes que restan importancia
                a este ratio:<br><br>-Si ingieres suficiente Omega 3 animal (EPA y DHA), principalmente de pescados, el
                aumento del Omega 6 no parece especialmente problemático.<br><br>-El Omega 6 presente en los frutos
                secos está protegido por una buena cantidad de antioxidantes, reduciendo su riesgo de oxidación y no
                requiriendo tanto Omega 3 para combatirlo.<br><br>Por todo esto, no me preocuparía demasiado del Omega 6
                en los frutos secos.<br><br>¿Y qué pasa con los fitatos?<br><br>Las plantas quieren que te comas su
                fruta, no sus semillas. Para defenderlas, usan armas químicas, principalmente fitatos y
                lectinas.<br><br>Los frutos secos tienen bastantes fitatos, y su misión principal es inhibir la
                absorción de nutrientes en el animal que las ingiere, en este caso nosotros.<br><br>Sociedades que
                dependen en gran medida de cereales (especialmente no fermentados) tienden a desarrollar deficiencias
                por la acción de los fitatos.<br><br>Sin embargo, en el contexto de una buena alimentación global, que
                priorice alimentos de alta densidad nutricional, los fitatos de los frutos secos no son preocupantes, y
                de hecho pueden ser protectores.<br><br>El ácido fítico tiene un lado oscuro, pero también otro más
                benevolente: puede actuar como antioxidante, y se está incluso estudiando en terapias contra el
                cáncer.<br><br>En cualquier caso, una recomendación sencilla para minimizar la pérdida de nutrientes es
                comer los frutos secos a modo de snack, evitando así robar nutrientes al resto de alimentos. Al menos un
                estudio muestra mejores resultados al ingerir los frutos secos como snack, pero tampoco es
                relevante.<br><br>Por otro lado, sabemos que remojar cereales y legumbres reduce su contenido de
                fitatos, pero no está claro que este proceso tenga el mismo efecto en los frutos secos. Seguramente no
                merezca la pena.<br><br>En resumen, si los frutos secos fueran la base de tu alimentación, el exceso de
                fitatos podría llegar a ser un problema, pero en cantidades habituales no deben preocuparte. Siempre que
                no seas alérgico, cómelos sin miedo
              </p>
              <span style="font-weight: bold;">Fuente
                <a href="https://www.fitnessrevolucionario.com/" target="_blank"
                  rel="noopener noreferrer">Fitnessrevolucionario.com</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>



  <footer class="bg-light text-center mt-3">
    <ul class="nav justify-content-center border-bottom pb-3 pt-3 mb-3 mt-3">
      <li class="nav-item"><a th:href="@{/}" class="nav-link px-2 text-muted">Inicio</a></li>
      <li class="nav-item"><a th:href="@{/calculoimc}" class="nav-link px-2 text-muted">Cálculo IMC</a></li>
      <li class="nav-item"><a th:href="@{/sobrenosotros}" class="nav-link px-2 text-muted">Sobre nosotros</a></li>
      <li class="nav-item"><a th:href="@{/contacto}" class="nav-link px-2 text-muted">Contacto</a></li>
    </ul>
    <p class="text-center text-muted justify-content-center pb-3">Copyright &copy; 2022 Nutrical Demo1, All Rights
      Reserved</p>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>

</html>