<!DOCTYPE html>
<html lang="en">

<head>
  <title>Calculo IMC</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script type="text/javascript" src=" js/jquery-3.6.1.js"> </script>
  <link rel="shortcut icon" href="img/icon8.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <script src="/js/scripts.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img src="img/logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="calculoImc.html">Cálculo IMC</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Recetas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="recetasbajarpeso.html">Bajar de peso</a></li>
              <li><a class="dropdown-item" href="recetassubirpeso.html">Subir de peso</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sobrenosotros.html">Sobre nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog.html">Blog</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="contacto.html" role="button" aria-expanded="false">
              Contacto
            </a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="login.html">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="registro.html">Registro</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">Cálculo IMC</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-sm-12>
                  <form action=" calculoImc.html" method="POST">
          <div class="mb-3">
            <label for="peso" class="form-label">Peso (Kg)</label>
            <input type="number" class="form-control" id="peso" name="peso" placeholder="Peso en kilogramos">
          </div>
          <div class="mb-3">
            <label for="altura" class="form-label">Altura (m)</label>
            <input type="number" class="form-control" id="altura" name="altura" placeholder="Altura en metros">
          </div>
          <button type="button" class="btn btn-primary" onclick="validarPesoYAltura()">Calcular</button>
          </form>
        </div>
        <div class="col-12 col-md-6 col-sm-12">
          <!-- insertar tabla informativa de indices de masa corporal -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">IMC</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Menos de 18.5</td>
                <td>Bajo peso</td>
              </tr>
              <tr>
                <td>Entre 18.5 y 24.9</td>
                <td>Peso normal</td>
              </tr>
              <tr>
                <td>Entre 25 y 29.9</td>
                <td>Sobrepeso</td>
              </tr>
              <tr>
                <td>Entre 30 y 34.9</td>
                <td>Obesidad grado 1</td>
              </tr>
              <tr>
                <td>Entre 35 y 39.9</td>
                <td>Obesidad grado 2</td>
              </tr>
              <tr>
                <td>40 o más</td>
                <td>Obesidad grado 3</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">Resultado</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="text-center">
            <span id="resultado"></span>
          </p>
        </div>
      </div>
    </div>
  </main>

  <footer class="bg-light text-center text-white">
    <ul class="nav justify-content-center border-bottom pb-3 pt-3 mb-3 mt-3">
      <li class="nav-item"><a href="index.html" class="nav-link px-2 text-muted">Inicio</a></li>
      <li class="nav-item"><a href="calculoImc.html" class="nav-link px-2 text-muted">Cálculo IMC</a></li>
      <li class="nav-item"><a href="sobrenosotros.html" class="nav-link px-2 text-muted">Sobre nosotros</a></li>
      <li class="nav-item"><a href="contacto.html" class="nav-link px-2 text-muted">Contacto</a></li>
    </ul>
    <p class="text-center text-muted justify-content-center pb-3">Copyright &copy; 2022 Nutrical Demo1, All Rights
      Reserved</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>