<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <title>Políticas de privacidad</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script type="text/javascript" src=" js/jquery-3.6.1.js"> </script>
  <link rel="shortcut icon" href="img/icon8.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">
      <img src="img/logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/calculoimc}">Cálculo IMC</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Recetas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" th:href="@{/recetasbajarpeso}">Bajar de peso</a></li>
            <li><a class="dropdown-item" th:href="@{/recetassubirpeso}">Subir de peso</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/sobrenosotros}">Sobre nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/blog}">Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" th:href="@{/contacto}" role="button" aria-expanded="false">
            Contacto
          </a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"th:href="@{/login}">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/registro}">Registro</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <main>
    <!-- Insertar políticas de privacidad -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">Políticas de privacidad</h1>
          <p>En este sitio web se recogen datos personales de los usuarios que se registran o se contactan a traves de
            la página web. Estos datos
            personales son recogidos con la finalidad de poder ofrecer un servicio de calidad a los usuarios. Los datos
            personales recogidos en el formulario de registro son los siguientes: nombre, apellidos, correo electrónico
            y contraseña. Estos datos son recogidos mediante un formulario de registro que se encuentra en la
            página web. Los datos personales recogidos son almacenados en una base de datos que se encuentra en un
            servidor
            de la empresa que ofrece el servicio de alojamiento web. Los datos personales recogidos no serán cedidos a
            terceros
            salvo que sea necesario para poder ofrecer el servicio de calidad a los usuarios. Los datos personales
            recogidos
            serán conservados durante el tiempo que sea necesario para poder ofrecer el servicio de calidad a los
            usuarios.
            Los usuarios podrán ejercer sus derechos de acceso, rectificación, cancelación y oposición dirigiéndose a la
            dirección de correo electrónico:
            <a href="mailto:"></a>
          </p>
        </div>
      </div>
    </div>
  </main>


  <footer class="bg-light text-center mt-3">
    <ul class="nav justify-content-center border-bottom pb-3 pt-3 mb-3 mt-3">
      <li class="nav-item"><a th:href="@{/}" class="nav-link px-2 text-muted">Inicio</a></li>
      <li class="nav-item"><a th:href="@{/calculoimc}" class="nav-link px-2 text-muted">Cálculo IMC</a></li>
      <li class="nav-item"><a th:href="@{/sobrenosotros}" class="nav-link px-2 text-muted">Sobre nosotros</a></li>
      <li class="nav-item"><a th:href="@{/contacto}" class="nav-link px-2 text-muted">Contacto</a></li>
    </ul>
    <p class="text-center text-muted justify-content-center pb-3">Copyright &copy; 2022 Nutrical Demo1, All Rights
      Reserved</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>