<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script type="text/javascript" src=" js/jquery-3.6.1.js"> </script>
  <link rel="shortcut icon" href="img/icon8.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>Bajar de peso</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img src="img/logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " href="calculoImc.html">Cálculo IMC</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Recetas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="recetasbajarpeso.html">Bajar de peso</a></li>
              <li><a class="dropdown-item" href="recetassubirpeso.html">Subir de peso</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sobrenosotros.html">Sobre nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog.html">Blog</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="contacto.html" role="button" aria-expanded="false">
              Contacto
            </a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="login.html">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="registro.html">Registro</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main>
    <div>
      <p class="text-start fs-1 p-3 mb-2 bg-light text-dark">Almuerzos </p>

    </div>

    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Salteado de pollo con garbanzos y verduras
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <div class="text-center">
              <img src="/img/saltado-de-garbanzo-con-pollo-y-verduras.jpg" class="rounded" alt="...">
            </div>
            <p class="text-center fs-4">
              <strong class="text-center"> Ingredientes (4 personas) </strong>
            </p>

            <div class="container text-center">
              <div class="row">
                <div class="col-6 col-sm-4 fs-5"> · Garbanzos cocidos 200g</div>
                <div class="col-6 col-sm-4 fs-5"> · Pechuga de pollo 200g</div>
                <div class="col-6 col-sm-4 fs-5"> · Aceite de oliva extra virgen </div>
                <div class="col-6 col-sm-4 fs-5"> · Dientes de ajo 1</div>
                <div class="col-6 col-sm-4 fs-5"> · Pimienta negra</div>
                <div class="col-6 col-sm-4 fs-5"> · Brócoli pequeño 1</div>

                <div class="w-100 d-none d-md-block"></div>

                <div class="col-6 col-sm-4 fs-5"> · Calabacín pequeño 1</div>
                <div class="col-6 col-sm-4 fs-5"> · Zanahoria 1</div>
                <div class="col-6 col-sm-4 fs-5"> · Cebolla 1</div>
                <div class="col-6 col-sm-4 fs-5"> </div>
                <div class="col-6 col-sm-4 fs-5"> </div>
                <div class="col-6 col-sm-4 fs-5"> · Sal</div>

                <p class="text-center fs-4">
                  <strong class="text-center"> Preparación </strong>
                </p>

                <p class="fs-5">
                  Empezamos con el pollo. Lo cortamos en tiras (sin piel ni huesos) y lo ponemos a macerar con un diente
                  de ajo picado y un par de cucharadas de aceite.
                  Mientras preparamos las verduras. La zanahoria la limpiamos, "pelamos" y cortamos en bastones finos,
                  el brócoli lo separamos en arbolitos y el calabacín lo limpiamos y cortamos con piel en dados, además
                  la cebolla la pelamos y cortaremos en juliana.
                  En una sartén salteamos el pollo hasta dorarlo, lo reservamos. Añadimos en la misma sartén la cebolla,
                  dos minutos después el resto de verduras y salteamos un par de minutos más.
                  Añadimos el pollo y los garbanzos y removemos, mezclando y salteando a la vez durante tres minutos.
                </p>
              </div>
            </div>




          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Bacalao en salsa
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <div class="text-center">
              <img src="/img/bacalao-en-salsa.jpg" class="rounded" alt="...">
            </div>
            <p class="text-center fs-4">
              <strong class="text-center"> Ingredientes (2 personas) </strong>
            </p>

            <div class="container text-center">
              <div class="row">
                <div class="col-6 col-sm-4 fs-5"> · Puerro 1</div>
                <div class="col-6 col-sm-4 fs-5"> · Apio 1</div>
                <div class="col-6 col-sm-4 fs-5"> · Zanahorias medianas 2 </div>
                <div class="col-6 col-sm-4 fs-5"> · Vino blanco</div>
                <div class="col-6 col-sm-4 fs-5"> · Tomates tipo pera 4-5</div>
                <div class="col-6 col-sm-4 fs-5"> · Cucharadita de concentrado de tomate (opcional) 1/2</div>

                <div class="w-100 d-none d-md-block"></div>

                <div class="col-6 col-sm-4 fs-5"> · Cucharadita de ajo granulado 1/4</div>
                <div class="col-6 col-sm-4 fs-5"> · Pizca de pimentón dulce o picante 1</div>
                <div class="col-6 col-sm-4 fs-5"> · Cebolla 1</div>
                <div class="col-6 col-sm-4 fs-5"> · Pizca de bicarbonato (opcional) 1</div>
                <div class="col-6 col-sm-4 fs-5"> · Bacalao fresco o descongelado (desalado, en su caso) 400g</div>
                <div class="col-6 col-sm-4 fs-5"> · Sal</div>
                <div class="col-6 col-sm-4 fs-5"> · Limón 1/2</div>
                <div class="col-6 col-sm-4 fs-5"> · Pimienta negra</div>
                <div class="col-6 col-sm-4 fs-5"> · Aceite de oliva extra virgen</div>

                <p class="text-center fs-4">
                  <strong class="text-center"> Preparación </strong>
                </p>

                <p class="fs-5">
                  Añadimos al pescado pimienta negra ajo y zumo de limón. Reservar por 20 minutos
                  picar el apio y pelar y cortar en piezas pequeñas las zanahorias. Calentar un poco de aceite de oliva
                  en una sartén o cazuela amplia y añadir el puerro con el apio.
                  Salar ligeramente y pochar unos 5-8 minutos a fuego suave.
                  Añadir las zanahorias, regar con el vino y saltear a fuego medio hasta que empiecen a estar tiernas.
                  Pelar mientras tanto los tomates, trocear y añadirlos a la sartén.
                  Salpimentar, agregar ajo granulado y pimentón al gusto y remover bien. Lo habitual es pasar por harina
                  el pescado y freírlo antes de juntarlo con la salsa, pero podemos ahorrar ese paso y simplemente
                  añadir el bacalao a la sartén al final de la cocción.
                  Tapar y dejar que se cocine sin prisas a fuego suave durante unos 5 minutos, o hasta que esté en su
                  punto. Es importante no pasarse del tiempo.
                </p>
              </div>
            </div>





          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Ensalada de pavo y aguacate
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <div class="text-center">
              <img src="/img/ensalada-de-atun-y-aguacate.jpg" class="rounded" alt="...">
            </div>
            <p class="text-center fs-4">
              <strong class="text-center"> Ingredientes (2 personas) </strong>
            </p>

            <div class="container text-center">
              <div class="row">
                <div class="col-6 col-sm-4 fs-5"> · Fiambre de pechuga de pavo 200g</div>
                <div class="col-6 col-sm-4 fs-5"> · Aguacate grande 1</div>
                <div class="col-6 col-sm-4 fs-5"> · Rúcula 50g </div>
                <div class="col-6 col-sm-4 fs-5"> · Mezclum 250g</div>
                <div class="col-6 col-sm-4 fs-5"> · Semillas y frutos secos variados 50g</div>
                <div class="col-6 col-sm-4 fs-5"> · Pimienta</div>

                <div class="w-100 d-none d-md-block"></div>

                <div class="col-6 col-sm-4 fs-5"> · 4 Cucharadas de zumo de manzana</div>
                <div class="col-6 col-sm-4 fs-5"> · 2 Cucharadas de miel</div>
                <div class="col-6 col-sm-4 fs-5"> · Sal</div>
                <div class="col-6 col-sm-4 fs-5"> · 4 cucharadas de yogurt natural</div>
                <div class="col-6 col-sm-4 fs-5"> · 2 cucharaditas de mostaza</div>



                <p class="text-center fs-4">
                  <strong class="text-center"> Preparación </strong>
                </p>

                <p class="fs-5">
                  Cortamos el fiambre de pechuga de pavo en rodajas y después en tiras, las pasamos por la sartén con
                  solo unas gotitas de aceite.
                  Dejamos que se enfríe un poco y la cortamos en rodajas finas. Pelamos el aguacate, lequitamos el hueso
                  y lo cortamos en dados. En un bol grande mezclamos la pechuga, el aguacate, el mezclum, la rúcula y
                  las semillas.
                  Preparamos el aliño batiendo el zumo de manzana, el yogur, la miel y la mostaza. Regamos la ensalada
                  con el aliño y sazonamos con sal y pimienta.
                </p>
              </div>
            </div>







          </div>
        </div>
      </div>




    </div>
  </main>

  <footer class="bg-light text-center text-white">
    <ul class="nav justify-content-center border-bottom pb-3 pt-3 mb-3 mt-3">
      <li class="nav-item"><a href="index.html" class="nav-link px-2 text-muted">Inicio</a></li>
      <li class="nav-item"><a href="calculoImc.html" class="nav-link px-2 text-muted">Cálculo IMC</a></li>
      <li class="nav-item"><a href="sobrenosotros.html" class="nav-link px-2 text-muted">Sobre nosotros</a></li>
      <li class="nav-item"><a href="contacto.html" class="nav-link px-2 text-muted">Contacto</a></li>
    </ul>
    <p class="text-center text-muted justify-content-center pb-3">Copyright &copy; 2022 Nutrical Demo1, All Rights
      Reserved</p>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>